
        <div class="card w-100 rounded-4">
          <div class="card-body">
           <div class="d-flex align-items-start justify-content-between mb-3">
              <div class="">
                <h5 class="mb-0 text-danger">Disposed Items</h5>
              </div>
            </div>
             <div class="table-responsive user-list">
                 <table class="table align-middle">
                  <thead>
                    <th>Vendor Name</th>
                    <th>Category Name</th>
                    <th>Product Name</th>
                    <th>Item Code</th>
                    <th>Assign Date</th>
                    <th>Expiry Date</th>
                    <th>Dispose Date</th>
                  </thead>
                    <tbody>
                        @for(item of disposedItems; track $index) {
                            <tr>
                                <td>{{item.vendorName}}</td>
                                <td>{{item.categoryName}}</td>
                                <td>{{item.productName}}</td>
                                <td>{{item.stockItemCode}}</td>
                                <td>{{item.assignDt | date}}</td>
                                <td>{{item.expiryDt | date}}</td>
                                <td>{{item.disposeDt | date}}</td>
                            </tr>
                        }
                    </tbody>
                 </table>
             </div>
          </div>
        </div>

