<div class="card rounded-4">
    <div class="card-body p-4">
        <div class="position-relative" style="margin-bottom: 5%;">
            <div class="profile-avatar position-absolute top-100 start-50 translate-middle">
                <img src="{{userImg}}"
                    class="img-fluid rounded-circle p-1 bg-grd-danger shadow" width="170" height="170" alt="">
            </div>
        </div>

        <div class="profile-info pt-5 text-center">
            <h3>{{userName}}</h3>
        </div> 

        <hr>

        <div class="row text-center">
            <div class="col-md-4"><h4>{{userType}}</h4></div>
            <div class="col-md-4"><h4>{{userBranch}}</h4></div>
            <div class="col-md-4"><h4>{{userDepartment}}</h4></div>
        </div> 

        <hr>

        <div class="row text-center">
            <div class="col-md-4"><h4>{{userEmail}}</h4></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"><h4>{{userMob}}</h4></div>
        </div> 
        <hr>
    </div>
</div>