<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Master</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Product Management</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-12 col-lg-3 d-flex align-items-stretch">
                <div class="card w-100 rounded-4">
                  <div class="card-body">
                   <div class="d-flex align-items-start justify-content-between mb-3">
                      <div class="">
                        <h5 class="mb-0">Products</h5>
                      </div>
                    </div>
                    <div class="order-search position-relative my-3">
                      <input  [(ngModel)]="searchTerm"   (ngModelChange)="onSearchChange()" class="form-control rounded-5 px-5" type="text" placeholder="Search">
                      <span class="material-icons-outlined position-absolute ms-3 translate-middle-y start-0 top-50">search</span>
                    </div>
                     <div class="table-responsive user-list">
                         <table class="table align-middle">
                            <tbody>
                                @for(item of filteredProducts; track $index) {
                                    <tr (click)="onSelectProduct(item)">
                                        <td>{{item.proName}}</td>
                                      </tr>
                                }
                            </tbody>
                         </table>
                     </div>
                  </div>
                </div>
              </div>
            <div class="col-12 col-lg-9">
                <div class="card border-top border-3 border-danger rounded-0">
                    <div class="card-header py-3 px-4">
                        <h5 class="mb-0 text-danger">{{selectedProduct ? 'Update' : 'New'}} Product</h5>
                    </div>
                    <div class="card-body p-4">
                        <form [formGroup]="productForm" class="row g-3">
                            <div class="col-md-3">
                                <label class="form-label">Category Name</label>
                                <select formControlName="catId" class="form-select rounded-0">
                                  <option value="0" selected disabled>Choose...</option>
                                  <option *ngFor="let category of filteredCategories" [value]="category.id">{{ category.catName }}</option>
                                </select>
                                <div *ngIf="productForm.get('catId')?.invalid && (productForm.get('catId')?.touched || productForm.get('catId')?.dirty)" class="text-danger">
                                  Category is required.
                                </div>
                              </div>
                              <div class="col-md-3">
                                <label class="form-label">Product Name</label>
                                <input type="text" formControlName="proName" class="form-control rounded-0" placeholder="Product Name">
                                <div *ngIf="productForm.get('proName')?.invalid && (productForm.get('proName')?.touched || productForm.get('proName')?.dirty)" class="text-danger">
                                  <small>Product Name is required.</small>
                                </div>
                              </div>

                              <div class="col-md-3">
                                <label class="form-label">Product Code</label>
                                <input type="text" formControlName="proCode" class="form-control rounded-0" placeholder="Product Code">
                                <div *ngIf="productForm.get('proCode')?.invalid && (productForm.get('proCode')?.touched || productForm.get('proCode')?.dirty)" class="text-danger">
                                  <small>Product Code is required.</small>
                                </div>
                              </div>
                         
                              <div class="col-md-3">
                                <label class="form-label">Product Prefix</label>
                                <input type="text" formControlName="proPrefix" class="form-control rounded-0" placeholder="Product Prefix">
                                <div *ngIf="productForm.get('proPrefix')?.invalid && (productForm.get('proPrefix')?.touched || productForm.get('proPrefix')?.dirty)" class="text-danger">
                                    <ng-container *ngIf="productForm.get('proPrefix')?.errors?.['required']">
                                        <small>Product Prefix is required.</small>
                                    </ng-container>
                                    <ng-container *ngIf="productForm.get('proPrefix')?.errors?.['maxlength']">
                                        <small>Product Prefix cannot exceed 50 characters.</small>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="col-md-9">
                              <label class="form-label">Product Description</label>
                              <textarea formControlName="proDesc" class="form-control rounded-0" placeholder="Product Description"></textarea>
                              <div *ngIf="productForm.get('proDesc')?.invalid && (productForm.get('proDesc')?.touched || productForm.get('proDesc')?.dirty)" class="text-danger">
                                  <ng-container *ngIf="productForm.get('proDesc')?.errors?.['required']">
                                      <small>Product Description is required.</small>
                                  </ng-container>
                              </div>
                          </div>

                              <div class="col-md-3">
                                <label class="form-label">Is Asset</label>
                                <div class="d-flex">
                                  <input type="radio" formControlName="isAsset" name="isAsset" [value]="true"> &nbsp; Yes
                                  <input type="radio" formControlName="isAsset" name="isAsset" [value]="false" style="margin-left: 25%;"> &nbsp; No
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label class="form-label">Product Image</label>
                                <input type="file" formControlName="proImg"  (change)="onFileChange($event)" #productFileInput class="form-control rounded-0">
                            </div>
                            <div class="col-md-3">
                                <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt="Image Preview"  class="img-thumbnail"/>
                            </div>
                            <div class="col-md-12">
                                <div class="d-md-flex d-grid align-items-center gap-3">
                                    <button type="button" (click)="submitForm()" class="btn btn-outline-success flex-fill"><i class="bi bi-box-arrow-up me-2"></i>Submit</button>
                                    <button type="button" (click)="resetForm()" class="btn btn-outline-danger flex-fill"><i class="bi bi-x-circle me-2"></i>Reset</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--end main wrapper-->