<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Master</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Department Management</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-12 col-lg-3 d-flex align-items-stretch">
                <div class="card w-100 rounded-4">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between mb-3">
                            <div class="">
                                <h5 class="mb-0">Departments</h5>
                            </div>
                        </div>
                        <div class="order-search position-relative my-3">
                            <input [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
                                class="form-control rounded-5 px-5" type="text" placeholder="Search">
                            <span
                                class="material-icons-outlined position-absolute ms-3 translate-middle-y start-0 top-50">search</span>
                        </div>
                        <div class="table-responsive user-list">
                            <table class="table align-middle">
                                <tbody>
                                    @for(item of filteredDepartments; track $index) {
                                    <tr (click)="onSelectDepartment(item)">
                                        <td>{{item.depName}}</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="card border-top border-3 border-danger rounded-0">
                    <div class="card-header py-3 px-4">
                        <h5 class="mb-0 text-danger">{{selectedDepartment ? 'Update' : 'New'}} Department</h5>
                    </div>
                    <div class="card-body p-4">
                        <form [formGroup]="departmentForm" class="row g-3">
                            <div class="col-md-4">
                                <label class="form-label">Branch Name</label>
                                <select formControlName="branchId" class="form-select rounded-0">
                                    <option *ngFor="let branch of filteredBranches" [value]="branch.id">{{
                                        branch.branchName }}</option>
                                </select>
                                <div *ngIf="departmentForm.get('branchId')?.invalid && departmentForm.get('branchId')?.touched"
                                    class="text-danger">
                                    <small *ngIf="departmentForm.get('branchId')?.errors?.['required']">Branch name is
                                        required.</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Department Name</label>
                                <input type="text" formControlName="depName" class="form-control rounded-0"
                                    placeholder="Department Name">
                                <div *ngIf="departmentForm.get('depName')?.invalid && departmentForm.get('depName')?.touched"
                                    class="text-danger">
                                    <small *ngIf="departmentForm.get('depName')?.errors?.['required']">Department name
                                        is required.</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Department Code</label>
                                <input type="text" formControlName="depCode" class="form-control rounded-0"
                                    placeholder="Department Code">
                                <div *ngIf="departmentForm.get('depCode')?.invalid && departmentForm.get('depCode')?.touched"
                                    class="text-danger">
                                    <small *ngIf="departmentForm.get('depCode')?.errors?.['required']">Department code
                                        is required.</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Department Prefix</label>
                                <input type="text" formControlName="depPrefix" class="form-control rounded-0"
                                    placeholder="Department Prefix">
                                <div *ngIf="departmentForm.get('depPrefix')?.invalid && departmentForm.get('depPrefix')?.touched"
                                    class="text-danger">
                                    <small *ngIf="departmentForm.get('depPrefix')?.errors?.['required']">Department
                                        prefix is required.</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Department Image</label>
                                <input type="file" formControlName="depImg" (change)="onFileChange($event)"
                                    #departmentFileInput class="form-control rounded-0">
                            </div>
                            <div class="col-md-4">
                                <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt="Image Preview"
                                    class="img-thumbnail" />
                            </div>
                            <div class="col-md-12">
                                <div class="d-md-flex d-grid align-items-center gap-3">
                                    <button type="button" (click)="submitForm()"
                                        class="btn btn-outline-success flex-fill"><i
                                            class="bi bi-box-arrow-up me-2"></i>Submit</button>
                                    <button type="button" (click)="resetForm()"
                                        class="btn btn-outline-danger flex-fill"><i
                                            class="bi bi-x-circle me-2"></i>Reset</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--end main wrapper-->