<!-- Start main wrapper -->
<main class="main-wrapper">
    <div class="main-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Master</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Currency Management</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-12 col-lg-3 d-flex align-items-stretch">
                <div class="card w-100 rounded-4">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between mb-3">
                            <div class="">
                                <h5 class="mb-0">Currencies</h5>
                            </div>
                        </div>
                        <div class="order-search position-relative my-3">
                            <input [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" class="form-control rounded-5 px-5" type="text" placeholder="Search">
                            <span class="material-icons-outlined position-absolute ms-3 translate-middle-y start-0 top-50">search</span>
                        </div>
                        <div class="table-responsive user-list">
                            <table class="table align-middle">
                                <tbody>
                                    <tr *ngFor="let item of filteredCurrencies" (click)="onSelectCurrency(item)">
                                        <td>{{item.currName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="card border-top border-3 border-danger rounded-0">
                    <div class="card-header py-3 px-4">
                        <h5 class="mb-0 text-danger">{{selectedCurrency ? 'Update' : 'New'}} Currency</h5>
                    </div>
                    <div class="card-body p-4">
                        <form [formGroup]="currencyForm" class="row g-3">
                            <div class="col-md-3">
                                <label class="form-label">Currency Name</label>
                                <input type="text" formControlName="currName" class="form-control rounded-0" placeholder="Currency Name">
                                <div *ngIf="currencyForm.get('currName')?.invalid && currencyForm.get('currName')?.touched" class="text-danger">
                                    <small *ngIf="currencyForm.get('currName')?.errors?.['required']">Currency name is required.</small>
                                    <small *ngIf="currencyForm.get('currName')?.errors?.['minlength']">Currency name must be at least 2 characters long.</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Currency Code</label>
                                <input type="text" formControlName="currCode" class="form-control rounded-0" placeholder="Currency Code">
                                <div *ngIf="currencyForm.get('currCode')?.invalid && currencyForm.get('currCode')?.touched" class="text-danger">
                                    <small *ngIf="currencyForm.get('currCode')?.errors?.['required']">Currency code is required.</small>
                                    <small *ngIf="currencyForm.get('currCode')?.errors?.['maxlength']">Currency code cannot exceed 3 characters.</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Currency Prefix</label>
                                <input type="text" formControlName="currPrefix" class="form-control rounded-0" placeholder="Currency Prefix">
                                <div *ngIf="currencyForm.get('currPrefix')?.invalid && currencyForm.get('currPrefix')?.touched" class="text-danger">
                                    <small *ngIf="currencyForm.get('currPrefix')?.errors?.['required']">Currency prefix is required.</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">INR Value</label>
                                <input type="text" formControlName="currInrVal" class="form-control rounded-0" placeholder="INR Value">
                                <div *ngIf="currencyForm.get('currInrVal')?.invalid && currencyForm.get('currInrVal')?.touched" class="text-danger">
                                    <small *ngIf="currencyForm.get('currInrVal')?.errors?.['required']">INR value is required.</small>
                                    <small *ngIf="currencyForm.get('currInrVal')?.errors?.['pattern']">INR value must be a number.</small>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">INR Value's Date</label>
                                <input type="date" formControlName="currInrValDate" class="form-control rounded-0">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Currency Image</label>
                                <input type="file" formControlName="currSymbol" (change)="onFileChange($event)" #CurrencyFileInput class="form-control rounded-0">
                            </div>
                            <div class="col-md-3">
                                <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt="Image Preview" class="img-thumbnail" />
                            </div>
                            <div class="col-md-12">
                                <div class="d-md-flex d-grid align-items-center gap-3">
                                    <button type="button" (click)="submitForm()" class="btn btn-outline-success flex-fill">
                                        <i class="bi bi-box-arrow-up me-2"></i>Submit
                                    </button>
                                    <button type="button" (click)="resetForm()" class="btn btn-outline-danger flex-fill">
                                        <i class="bi bi-x-circle me-2"></i>Reset
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--end main wrapper-->
